.header-container {
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.header-content {
  height: 30%;
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  align-items: center;
}

.header-content > img {
  height: 80px;
}

.header-nav-section {
  color: white;
  display: flex;
  gap: 10px;
  align-items: center;
}

.user-logo {
  height: 25px;
}

.signout-btn {
  padding: 0;
  border: none;
  background: none;
  color: #c50e14;
  font-size: 15px;
  font-weight: 800;
}
